/*******************************************************************************
 *                                                                             *
 * Root					 				                       				   *
 *                                                                             *
 ******************************************************************************/
@font-face {
    src: url('/font/WorkSans-Bold.ttf');
}

* {
    -mat-primary: #b794f6;
    -mat-secondary: #6002ee;
    -mat-red: #B00020;
    -mat-text: rgba(255, 255, 255, 0.87);
    -mat-text-low: rgba(255, 255, 255, 0.60);
}

/*******************************************************************************
 *                                                                             *
 * Product in Cart             			                       				   *
 *                                                                             *
 ******************************************************************************/

.box:hover{
    -fx-background-color: rgba(255, 255, 255, 0.12);
}

.code{
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-background-color: -mat-primary;
    -fx-text-fill: #121212;
}

.delete-button{
    -fx-background-color: -mat-red;
}

.delete-button:hover{
    -fx-background-color: -mat-red, #ffffff0C;
}

.icon {
    -fx-font-size: 18;
    -fx-text-fill: -mat-primary;
}

.order-total{
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: -mat-text;
}