/*******************************************************************************
 *                                                                             *
 * Product Card             			                       				   *
 *                                                                             *
 ******************************************************************************/

.product-card {
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0.07);
}

.product-card:hover {
    -fx-background-color: rgba(255, 255, 255, 0.12);
}

.product-card .header {
    -fx-effect: none;
    -fx-background-color: -mat-secondary;
    -fx-background-radius: 5 5 0 0;
}

.product-card .image {
}

.product-card .count {
    -fx-font-family: 'Work Sans';
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-fill: -mat-text-low;
}

.product-card .count:focused {
    -fx-text-fill: -mat-text;
}

.product-card .name {
    -fx-effect: none;
    -fx-font-family: 'Work Sans bold';
    -fx-font-size: 15;
    -fx-text-fill: -mat-primary;
}

.product-card .price {
    -fx-effect: none;
    -fx-font-family: 'Work Sans';
    -fx-font-size: 14;
    -fx-text-fill: -mat-text;
}

.product-card .order {
    -fx-effect: none;
    -fx-font-family: 'Work Sans bold';
    -fx-font-size: 12;
}

.product-card .order.flat {
    -fx-text-fill: -mat-text;
}