/*******************************************************************************
 *                                                                             *
 * side Bar						                                               *
 *                                                                             *
 ******************************************************************************/
.side-bar {
    -fx-background-color: #202020;
}

.side-bar .button-profile {
    -fx-font-size: 16px;
    -fx-text-fill: -mat-text;
}

.side-bar .button {
    -fx-background-color: transparent;
    -fx-text-fill: -mat-text-low;
}

.side-bar .button .icon {
    -fx-font-size: 16px;
    -fx-text-fill: -mat-text-low;
}

.side-bar .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.side-bar .button.selected {
    -fx-effect: dropshadow(three-pass-box, black, 2, 0, 0, 1);
    -fx-background-color: -mat-primary !important;
    -fx-text-fill: #202020 !important;
}

.side-bar .button .icon.selected-icon {
    -fx-effect: null;
    -fx-text-fill: #202020 !important;
}

.side-bar .user-label {
    -fx-font-family: 'Work Sans Bold';
    -fx-text-fill: #202020;
}