/*******************************************************************************
 *                                                                             *
 * Root					 				                       				   *
 *                                                                             *
 ******************************************************************************/
@font-face {
	font-family: 'EmojiOneColor';
	src: url('/font/EmojiOneColor.otf');
}

.text {
	-fx-font-family: "EmojiOneColor";
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                               *
 *                                                                             *
 ******************************************************************************/
.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background
	{
	-fx-background-color: #E6E6E6;
	-fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
	-fx-background-color: #C8C8C8;
	-fx-background-insets: 0.0;
	-fx-background-radius: 4.0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button
{
	-fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow
{
	-fx-background-color: #969696;
}

.scroll-bar>.track-background {
	-fx-background-color: transparent;
}
