#total-price{
    -fx-font-family: 'Work Sans Bold';
}

.submit-button{
    -fx-font-family: 'Work Sans Bold';
    -fx-font-size: 12;
    -fx-background-color: #00E676 !important;
    -fx-font-weight: bold;
}