/*******************************************************************************
 *                                                                             *
 * Product in Cart             			                       				   *
 *                                                                             *
 ******************************************************************************/

.box:hover {
    -fx-background-color: rgba(255, 255, 255, 0.12);
}

.box .count {
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-background-color: -mat-primary;
    -fx-text-fill: -mat-on-primary;
}

.box .util-button {
    -fx-background-color: -mat-primary;
}

.box .util-button:hover {
    -fx-background-color: -mat-primary, #ffffff0c;
}

.box .delete-button {
    -fx-background-color: -mat-error;
    -fx-text-fill: -mat-on-error;
}

.box .delete-button:hover {
    -fx-background-color: -mat-error, #ffffff0C;
}

.box .icon {
    -fx-font-size: 18;
    -fx-text-fill: -icon-color;
}

.box .product-name {
    -fx-font-family: 'Work Sans Bold';
    -fx-font-size: 18;
}

.box .product-price {
    -fx-text-fill: -mat-text;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.box .product-total {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}